<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>Blog-Style Lightbox Gallery - Design Shack Demo</title>
  <meta name="author" content="Jake Rocheleau">
  <link rel="shortcut icon" href="http://designshack.net/favicon.ico">
  <link rel="icon" href="http://designshack.net/favicon.ico">
  <link rel="stylesheet" type="text/css" media="all" href="css/styles.css">
  <link rel="stylesheet" type="text/css" media="all" href="css/jquery.lightbox-0.5.css">
  <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="js/jquery.lightbox-0.5.min.js"></script>
  
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
	

	
</head>

<body>
  <div id="topbar"><h3>Find out more about your favourite artist</h3></div>
  
  <div id="w">
    <div id="content">
      <h1>Keyhigh Music Gallery</h1>
	  <div class="header-bottom"><!--header-bottom-->
			<div id="content">
				<div class="row">
					<div class="col-lg-9"></div>
					<div class="col-sm-4 col-lg-3">
						<div class="search_box pull-right">
							<input ng-model="query" type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	  
	  
      <div id="thumbnails">
        <ul class="clearfix" ng-repeat="c in videos | filter:query">
          <!-- source: http://dribbble.com/shots/1115721-Turntable -->
          <li>
		  
			<a href="{{c.imglink}}" title="Turntable by Jens Kappelmann"> <img src="{{c.imglink}}" class="img-responsive img-thumbnail" width="165" height="100" alt="turntable" /></a>

		  </li>
          
        </ul>
      </div>
    </div><!-- @end #content -->
  </div><!-- @end #w -->
<script type="text/javascript">
$(function() {
    $('#thumbnails a').lightBox();
});
</script>
</body>
</html>