<!doctype html>
<html lang="en-US">
<head>

	

	
</head>

<body>
  <div id="topbar" style="background-color:OrangeRed">Find about more about your favourite artist</div>
  
  <div id="w">
    <div id="content">
      <h1>Keyhigh Music Gallery</h1>
	  <div class="header-bottom"><!--header-bottom-->
			<div id="content">
				<div class="row">
					<div class="col-lg-9"></div>
					<div class="col-sm-4 col-lg-3">
						<div class="search_box pull-right">
							<input ng-model="query" type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	  
	  
      <div id="thumbnails">
        <ul class="clearfix" ng-repeat="c in videos | filter:query">
          <!-- source: http://dribbble.com/shots/1115721-Turntable -->
          <li>
		  
			<a href="{{c.imglink}}" title="Turntable by Jens Kappelmann"> <img src="{{c.imglink}}" class="img-responsive img-thumbnail" width="150" height="100" alt="turntable" /></a>

		  </li>
          
        </ul>
      </div>
    </div><!-- @end #content -->
  </div><!-- @end #w -->
<script type="text/javascript">
$(function() {
    $('#thumbnails a').lightBox();
});
</script>
</body>
</html>